@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif';
}
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
.navbar-inverse{ 
    background: #f90f00 !important;
    background-repeat: repeat-x !important;
    border: none !important;
    
}
.navbar-inverse .navbar-nav > li > a{
  color: #fff !important;
    font-size: 13px;
    padding: 16px 18px;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: 0 -1px 0 #fff;
    text-transform: uppercase;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar{
  margin-bottom: 0px !important;
}

.container {width: 1250px !important;}
.facebook{
   /* border: 1px solid black;
    margin: 3px;
    padding: 12px;
    width: 91px;
    background: navy;*/

}
.twitter{
    border: 1px solid black;
    margin: 3px;
    padding: 12px;
    width: 80px;
    background: blue;
 }
.facebook a {padding: 0px !important; margin: 0px !important;}
.twitter a {padding: 0px !important; margin: 0px !important;}
.faceboook a img {}

.column1{ border-right: 1px solid lightgrey; }
.column2{ border-right: 1px solid lightgrey; }
.column3{ }
.programs{ 
    border: medium none;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 !important;
    margin: 2px;
    padding: 8px;
}
.programs a {padding: 0px; margin: 0px;}
.program-type{
  font-size: 10px;
  font-weight: bold;
}
.program-title{
  font-size: 16px;
  font-weight: bold;
}
.facebook img {
    width: 96%;
}
.dropdown-menu.mega-dropdown-menu > li {
    display: inline !important;
    float: left;
}

.dropdown-menu.mega-dropdown-menu {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px dotted grey;
    padding: 0;
}

.customwell{
    background: lightgrey none repeat scroll 0 0;
    border-left: 1px solid grey;
    cursor: pointer;
    font-weight: bold;
    padding: 3px;
    text-align: center;

}