.megamenu{
	background: red; 
	height: 50px;
}

.menu-container{
	margin: 0 auto; 
	height: 50px;
	width: 80%;
}

.primary-menu{}

.primary-menu li{
	float: left;
	list-style: none;
	color: white;
	padding: 0px 15px;
	font-weight: bold;
	text-transform: uppercase;
	border-right: 1px solid #aaa;
	-webkit-border-right: 1px solid #aaa;
	-moz-border-right: 1px solid #aaa;
}
